#mainDiv {
	display:block;
    width:100%;
    height:100%;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

canvas {
	position:absolute;
	margin:0;
	padding:0;
}
#MainMenuCanvas{
	background-color: #e5e5e5;
	left:0;
	top:30%;
	bottom:10%;
	width:60%;
	height:60%;
	
}
#ProfileCanvas{
	background-color: #f5f5f5;
	position: absolute;
	top:0;
	right:0;
	height: 60%;
	width:60%;
}
#RewardsCanvas{
	background-color: #fff;
	position: absolute;
	bottom:0;
	right:0;
	height: 60%;
	width:60%;
}
#TitleCanvas{
	background-color: #f5f5f5;
	position: absolute;
	top:0;
	left:0;
	height:60%;
	width:60%;
}
#BackgroundCanvas{
background-color: #fff;
	left:0;
	top:0;
	bottom:0;
	right:0;
	height:100%;
	width:100%;
}